pipeline/raw-ingestion-sql-db-automated.json
{
	"name": "raw-ingestion-sql-db-automated",
	"properties": {
		"activities": [
			{
				"name": "RUN PIPELINE FOR ALL TABLE",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.AllTablesInput",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SQL-DB TO AZURE",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "FETCH LAST LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "CURRENT LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().schema}.@{item().table} where @{item().last_load_col} >  '@{if(empty(item().from_dt),activity('FETCH LAST LOAD').output.value[0].last_load_dt,item().from_dt)}'\n\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "azure_sql_src",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "azure_adls_bronze_sink",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@item().table",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(item().table,'_',variables('current_load'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "FETCH LAST LOAD",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat(item().table,'_cdc')",
											"type": "Expression"
										},
										"file": "last_load_details.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "CURRENT LOAD",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current_load",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "LAST LOAD AND PARQUET CONDITION",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SQL-DB TO AZURE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('SQL-DB TO AZURE').output.rowsRead, 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "DELETE EMPTY PARQUET",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "azure_adls_bronze_sink",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@item().table",
														"type": "Expression"
													},
													"file": {
														"value": "@concat(item().table,'_',variables('current_load'))",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "UPDATE LAST LOAD",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "FETCH MAX DATA FETCH",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "last_load_dt",
														"value": {
															"value": "@activity('FETCH MAX DATA FETCH').output.resultSets[0].rows[0].last_ld_dt",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@concat(item().table,'_cdc')",
														"type": "Expression"
													},
													"file": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@concat(item().table,'_cdc')",
														"type": "Expression"
													},
													"file": "last_load_details.json"
												}
											}
										]
									},
									{
										"name": "FETCH MAX DATA FETCH",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "select max(@{item().last_load_col}) as last_ld_dt from @{item().schema}.@{item().table}",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FAILED ALERTS",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "RUN PIPELINE FOR ALL TABLE",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-27.westindia.logic.azure.com:443/workflows/b6f9c63a5a5c4b0cbfe8b6d4ee8d1b37/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=nM-JP0Zm4pe7pQ86rljMcmYnFBYEbKCvw9deGRYfzJU",
					"body": {
						"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"pipeline_runId\" : \"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"AllTablesInput": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "DimUser",
						"last_load_col": "updated_at",
						"from_dt": ""
					},
					{
						"schema": "dbo",
						"table": "DimTrack",
						"last_load_col": "updated_at",
						"from_dt": ""
					},
					{
						"schema": "dbo",
						"table": "DimDate",
						"last_load_col": "date",
						"from_dt": ""
					},
					{
						"schema": "dbo",
						"table": "DimArtist",
						"last_load_col": "updated_at",
						"from_dt": ""
					},
					{
						"schema": "dbo",
						"table": "FactStream",
						"last_load_col": "stream_timestamp",
						"from_dt": ""
					}
				]
			}
		},
		"variables": {
			"current_load": {
				"type": "String"
			}
		},
		"annotations": []
	}
}