pipeline/raw-ingestion-sql-db-automated.json
{
	"name": "raw-ingestion-sql-db-automated",
	"properties": {
		"activities": [
			{
				"name": "RUN PIPELINE FOR ALL TABLE",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.AllTables",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SQL-DB TO AZURE",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "FETCH LAST LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "CURRENT LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{pipeline().parameters.schema}.@{item()} where @{pipeline().parameters.last_load_col} >  '@{if(empty(pipeline().parameters.from_dt),activity('FETCH LAST LOAD').output.value[0].last_load_dt,pipeline().parameters.from_dt)}'\n\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "azure_sql_src",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "azure_adls_bronze_sink",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat(item(),'_cdc')",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(item(),'_',variables('current_load'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "FETCH LAST LOAD",
							"type": "Lookup",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat(item(),'_cdc')",
											"type": "Expression"
										},
										"file": "last_load_details.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "CURRENT LOAD",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current_load",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "LAST LOAD AND PARQUET CONDITION",
							"type": "IfCondition",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "SQL-DB TO AZURE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('SQL-DB TO AZURE').output.rowsRead, 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "DELETE EMPTY PARQUET",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "azure_adls_bronze_sink",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@concat(item(),'_cdc')",
														"type": "Expression"
													},
													"file": {
														"value": "@concat(item(),variables('current_load'))",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "UPDATE LAST LOAD",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "FETCH MAX DATA FETCH",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "last_load_dt",
														"value": {
															"value": "@activity('FETCH MAX DATA FETCH').output.resultSets[0].rows[0].last_ld_dt",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@concat(item(),'_cdc')",
														"type": "Expression"
													},
													"file": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@concat(item(),'_cdc')",
														"type": "Expression"
													},
													"file": "last_load_details.json"
												}
											}
										]
									},
									{
										"name": "FETCH MAX DATA FETCH",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "select max(@{pipeline().parameters.last_load_col}) as last_ld_dt from @{pipeline().parameters.schema}.@{item()}",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"table": {
				"type": "string"
			},
			"last_load_col": {
				"type": "string",
				"defaultValue": "updated_at"
			},
			"from_dt": {
				"type": "string"
			},
			"AllTables": {
				"type": "array",
				"defaultValue": [
					"DimUser",
					"DimArtist",
					"DimTrack"
				]
			}
		},
		"variables": {
			"current_load": {
				"type": "String"
			}
		},
		"annotations": []
	}
}